{{ partial "header.html" .}}

    <!-- Page Header -->
    <header class="intro-header" style="background-image: url('{{ .Site.BaseURL }}/img/home-bg.jpg')">
     <div class="container">
       <div class="row">
         <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
           <div class="site-heading">
             <h1>{{ .Site.Title }}</h1>
             <hr class="small">
             {{ if isset .Site.Params "Description" }}<span class="subheading">{{ .Site.Params.Description }}</span>{{ end }}
           </div>
         </div>
       </div>
     </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          {{ range first 4 (where .Data.Pages "Type" "post") }}
              {{ .Render "summary"}}
          {{ end }}
          <!-- Pager -->
          <ul class="pager">
            <li class="next">
              <!--a href="{{ .Site.BaseURL }}/post/">Older Posts &rarr;</a-->
            </li>
          </ul>
        </div>
      </div>
    </div>

{{ partial "footer.html" .}}
